{% extends 'base.html.twig' %}

{% block layout %}
    <h1>Clients list</h1>

    <div class="table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Couleur</th>
                <th>Espèce</th>
                <th>Créé le</th>
                <th>Rendez vous</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for client in clients %}
                <tr>
                    <td><a href="{{ path('client_show', { 'id': client.id }) }}">{{ client.id }}</a></td>
                    <td>{{ client.nom }}</td>
                    <td>{{ client.couleur }}</td>
                    <td>{{ client.espece }}</td>
                    <td>{% if client.createdAt %}{{ client.createdAt|date('d/m/Y') }}{% endif %}</td>
                    <td>
                        {% if client.rendezVous is not empty %}
                            <div class="table-responsive">
                                <table class="table table-condensed">
                                    <thead>
                                    <tr>
                                        <th>Date</th>
                                        <th>Maladie</th>
                                        <th>Traitement</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for rendezVous in client.rendezVous %}
                                        <tr>
                                            <td>{{ rendezVous.date|date('d/m/Y') }}</td>
                                            <td>{{ rendezVous.maladie.nom is defined ? rendezVous.maladie.nom : 'Non défini' }}</td>
                                            <td>{{ rendezVous.maladie.traitement is defined ? rendezVous.maladie.traitement : 'Non défini' }}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        {% endif %}
                    </td>
                    <td>
                        <div class="btn-group" role="group" aria-label="...">
                            <a role="button" class="btn btn-default"
                               href="{{ path('client_show', { 'id': client.id }) }}">show</a>
                            <a role="button" class="btn btn-default"
                               href="{{ path('client_edit', { 'id': client.id }) }}">edit</a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <a class="btn btn-success" href="{{ path('client_new') }}" role="button">Créer nouveau client</a>

    <h1>Liste des lapins pas venus à leur premier rendez-vous</h1>

    <div class="table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th>Nom</th>
                <th>Couleur</th>
                <th>Référence rendez-vous</th>
                <th>Date rendez-vous</th>
            </tr>
            </thead>
            <tbody>
            {% for lapin in lapins %}
                {% if lapin.rendezVous.first.isComing == false %}
                    <tr>
                        <td>{{ lapin.nom }}</td>
                        <td>{{ lapin.couleur }}</td>
                        <td>{{ lapin.rendezVous.first.reference }}</td>
                        <td>{{ lapin.rendezVous.first.date|date('d/m/Y') }}</td>
                    </tr>
                {% endif %}

            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}