{% extends 'base.html.twig' %}

{% block layout %}
    <h1>Client</h1>

    <div class="table-responsive">
        <table class="table">
            <tbody>
            <tr>
                <th>Id</th>
                <td>{{ client.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ client.nom }}</td>
            </tr>
            <tr>
                <th>Couleur</th>
                <td>{{ client.couleur }}</td>
            </tr>
            <tr>
                <th>Date création</th>
                <td>{% if client.createdAt %}{{ client.createdAt|date('Y-m-d') }}{% endif %}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <h2>Rendez-vous</h2>
    <div class="table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th>Référence</th>
                <th>Date rendez-vous</th>
                <th>Est venue</th>
                <th>Maladie</th>
            </tr>
            </thead>
            <tbody>
            {% for rendezVous in client.rendezVous %}
                <tr>
                    <td>{{ rendezVous.reference }}</td>
                    <td>{{ rendezVous.date|date('d-m-Y') }}</td>
                    <td>{{ rendezVous.isComing ? 'Oui' : 'Non' }}</td>
                    <td>{{ rendezVous.maladie }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <ul>
        <li>
            <a href="{{ path('client_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('client_edit', { 'id': client.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
            <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}