{% extends 'base.html.twig' %}

{% block layout %}
    <h1>Maladie creation</h1>

    {{ form_start(form) }}
    {{ form_row(form.nom) }}

    {{ form_row(form.especes) }}
    <hr>
    <h3>Ajouter un traitement pour cette maladie</h3>
    {{ form_row(form.traitement.nom) }}
    {{ form_widget(form._token) }}

    <input type="submit" value="Create" />

    <ul>
        <li>
            <a href="{{ path('maladie_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}